.pl-1{
padding-left: 5px;
}
.verify{
    color: blue;
    font-size: 13px;
}
.premium{
    color: #ab38ab;
    font-size: 13px;
}
.card{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.br{
    border-bottom: 1px solid #cfcbcb;
    padding: 5px;
}
.rec-bg{
    --background: linear-gradient(180deg, #8edec4 57.99999999999999%,#f4f5f8 0%) !important;
}
.title{
 color:white
}
.ab{
    position: absolute;
}
.w100{
  width: 100% !important;
}
.yes-btn{
  width: 55px;
  height: 35px;
  background-color: orange !important;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

.no-btn{
  width: 55px;
  background-color: white !important;
  border-radius: 20px;
  height: 35px;
  color: gray;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}
  .pt-1{
    padding-top: 10px;
  }
  .fs15{
    font-size: 18px;
  }
